{% extends 'base.html' %}

{% block content %}


<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block text-center">
            <span class="text-white">Department Details</span>
            <h1 class="text-capitalize mb-5 text-lg">{{department.title}}</h1>
  
            <!-- <ul class="list-inline breadcumb-nav">
              <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
              <li class="list-inline-item"><span class="text-white">/</span></li>
              <li class="list-inline-item"><a href="#" class="text-white-50">Department Details</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="section department-single">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="department-img">
                      <img src="{{department.image.url}}" alt="" class="img-fluid">
                  </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col-lg-8">
                  <div class="department-content mt-5">
                      <h3 class="text-md">{{department.title}}</h3>
                      <div class="divider my-4"></div>
                      <p class="lead">{{department.description}}</p>
                  
  
  
                      <h3 class="mt-5 mb-4">Services features</h3>
                      <div class="divider my-4"></div>
                      <ul class="list-unstyled department-service">
                        {% for service in services %}
                          <li><i class="icofont-check mr-2"></i>{{service}}</li>
                          {% endfor %}
                      </ul>
                      <a href="{% url 'appoinment' %}" class="btn btn-main-2 btn-round-full">Make an Appoinment<i class="icofont-simple-right ml-2  "></i></a>
                  </div>
              </div>
  
              <div class="col-lg-4">
                  

            {% include 'website/time_schedule.html' %}


              </div>
          </div>
      </div>
  </section>

{% endblock %}