<div class="sidebar-widget category mb-3">
    <h5 class="mb-4">Categories</h5>

    <ul class="list-unstyled">
      <li class="align-items-center">
        <a href="#">Medicine</a>
        <span>(14)</span>
      </li>
      <li class="align-items-center">
        <a href="#">Equipments</a>
        <span>(2)</span>
      </li>
      <li class="align-items-center">
        <a href="#">Heart</a>
        <span>(10)</span>
      </li>
      <li class="align-items-center">
        <a href="#">Free counselling</a>
        <span>(5)</span>
      </li>
      <li class="align-items-center">
        <a href="#">Lab test</a>
        <span>(5)</span>
      </li>
    </ul>
</div>
