{% extends 'base.html' %}

{% block content %}

{% if page == 'signup' %}

<div class="col-lg-6 m-2" >
    <h1>Sing Up</h1>
    <form class="contact__form" action="{% url 'signup' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
        <label for="">{{field.label}}</label>
        <div class="form-group">
            {{field}}
        </div>
        {% endfor %}


        <div class="text-left">
            <input class="btn btn-main btn-round-full" type="submit" value="Signup">
        </div>

    </form>

    <small>Already have an Account?</small>
    <a class="btn btn-main btn-round-full" href="{% url 'login' %}">Login</a>
</div>

{% else %}

<div class="col-lg-6 m-2">
    <h1>Login</h1>
    <form class="contact__form" action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input name="username" type="text" class="form-control" placeholder="Your Username">
                </div>



                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Your Password">
                </div>

            </div>
        </div>

        <div class="text-left">
            <input class="btn btn-main btn-round-full" type="submit" value="Login">
        </div>

    </form>

    <div class="m-2">
        <small>Don’t have an Account?</small>
        <a class="btn btn-main btn-round-full" href="{% url 'signup' %}">Sign Up</a>
    </div>
    <div class="m-2">
        <small>Forgot Password?</small>
        <a href="{% url 'reset_password' %}">Reset Password</a>
    </div>

</div>
{% endif %}



{% endblock %}